<div class="row">
  <div class="col-md-4">
    <h1 class="h5">Selected date: {{ date | date }}</h1>
    <nb-calendar [(date)]="date" startView="month"> </nb-calendar>
  </div>

  <div class="col-md-8">
    <nb-card>
      <nb-card-header>
        <h1>Sales</h1>
      </nb-card-header>

      <nb-card-body>
        <ng2-smart-table
          [settings]="settings"
          [source]="source"
          (deleteConfirm)="onDeleteConfirm($event)"
        >
        </ng2-smart-table>
      </nb-card-body>
      <!-- <button (click)="showDate(value)">button</button> -->
    </nb-card>
  </div>
</div>
