<nb-card-header>
  <i class="ion-social-usd"></i>
  <span class="title">Profit</span>
</nb-card-header>
<nb-card-body>
  <div class="info">
    <div class="period">
      <div class="caption">{{ finalDate }}</div>
      <!-- <div class="label"><span class="currency">LKR</span>300</div> -->
    </div>
  </div>
  <ngx-stats-ares-chart ></ngx-stats-ares-chart>
</nb-card-body>
