<!-- <nb-flip-card [showToggleButton]="false" [flipped]="flipped"> -->

<nb-card-back>
  <nb-card size="tiny">
    <ngx-stats-card-back></ngx-stats-card-back>
  </nb-card>
</nb-card-back>
<!-- </nb-flip-card> -->
