<div class="row">
  <div class="col-md-6">
    <div style="height: 300px;overflow: scroll;">
      <form>
        <nb-card>
          <nb-card-header>Search Product</nb-card-header>
          <nb-card-body>
            <input
              nbInput
              placeholder="search product"
              fullWidth
              [(ngModel)]="searchTerm"
              name="search"
              type="text"
              autofocus
            />
            <nb-list *ngFor="let item of source | filter: searchTerm">
              <nb-list-item>
                {{ item.product_name }}
                <div style="align-self: center;">
                  <button nbButton (click)="addItem(item)">add</button>
                </div>
              </nb-list-item>
            </nb-list>
          </nb-card-body>
        </nb-card>
      </form>
    </div>
  </div>
  <div class="col-md-6">
    <div>
      <ngx-barcode6
        style="width: 20;"
        [bc-format]="'CODE39'"
        [bc-value]="barcodeVal"
        [bc-display-value]="true"
      >
      </ngx-barcode6>
    </div>
    <div *ngIf="showBarcode">
      <button nbButton>Print Barcode</button>
    </div>
  </div>
</div>
