<div class="row">
  <form
    [formGroup]="addProductForm"
    (ngSubmit)="onSubmit(addProductForm.value)"
  >
    <nb-card>
      <nb-card-header>Add a new Product</nb-card-header>
      <nb-card-body>
        <!-- <input type="text" nbInput fullWidth placeholder="Project"> -->
        <div class="full-name-inputs">
          <div>
            <input
              type="text"
              nbInput
              fullWidth
              placeholder="Item Name"
              formControlName="product_name"
            />
            <nb-alert
              *ngIf="product_name.touched && product_name.invalid"
              status="danger"
            >
              Item name is required
            </nb-alert>
          </div>
          <div>
            <input
              type="text"
              nbInput
              fullWidth
              placeholder="Barcode Number"
              formControlName="id"
            />
            <!-- <nb-alert *ngIf="id.touched && id.invalid" status="danger">
              Item Id is required
            </nb-alert> -->
          </div>
          <br />
        </div>
        <div>
          <textarea
            nbInput
            fullWidth
            placeholder="Product description"
            formControlName="product_des"
          ></textarea>
        </div>
        <input
          type="number"
          nbInput
          fullWidth
          placeholder="Selling Price"
          formControlName="product_selling_price"
        />
        <nb-alert
          *ngIf="product_selling_price.touched && product_selling_price.invalid"
          status="danger"
        >
          Selling Price is required
        </nb-alert>
        <input
          type="number"
          nbInput
          fullWidth
          placeholder="Unit Price"
          formControlName="product_unit_price"
        />
        <nb-alert
          *ngIf="product_unit_price.touched && product_unit_price.invalid"
          status="danger"
        >
          Unit Price is required
        </nb-alert>
        <input
          type="number"
          nbInput
          fullWidth
          placeholder="Product Quantity"
          formControlName="product_quantity"
        />
        <nb-alert
          *ngIf="product_quantity.touched && product_quantity.invalid"
          status="danger"
        >
          Number of items is required
        </nb-alert>
        <div class="full-name-inputs">
          <nb-select
            placeholder="Product Category"
            formControlName="product_category"
          >
            <nb-option
              *ngFor="let x of Categories | async"
              [value]="x.category_name"
              >{{ x.category_name }}</nb-option
            >
          </nb-select>
        </div>
        <nb-alert
          *ngIf="product_category.touched && product_category.invalid"
          status="danger"
        >
          Product Category is required
        </nb-alert>

        <button
          style="display: inline-block;"
          nbButton
          status="primary"
          hero
          type="submit"
          [disabled]="!addProductForm.valid"
        >
          Add Item
        </button>
      </nb-card-body>
    </nb-card>
  </form>
  <form
    [formGroup]="addNewCategory"
    (ngSubmit)="onSubmitCategory(addNewCategory.value)"
  >
    <div class="column" style="padding-left: 50px;">
      <nb-card size="small">
        <nb-card-header>Add a new Category</nb-card-header>

        <nb-card-body>
          <input
            type="text"
            placeholder="Enter new category name"
            nbInput
            formControlName="category_name"
          />
          <br />
          <!-- <button nbButton (click)="ProductCategories()">Submit</button> -->
          <ol>
            <li *ngFor="let x of Categories | async">
              {{ x.id }}
            </li>
          </ol>
          <button
            style="display: inline-block;"
            nbButton
            status="primary"
            hero
            type="submit"
            [disabled]="!addNewCategory.valid"
          >
            Submit
          </button>
        </nb-card-body>
      </nb-card>
    </div>
  </form>
</div>
