<div class="header-container">
  <div class="logo-container">
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>
    <a class="logo" href="#" (click)="navigateHome()"
      >Warm<span>Boutique </span></a
    >
  </div>
  <div style="padding-left: 10%;">
    <nb-select
      [selected]="currentTheme"
      (selectedChange)="changeTheme($event)"
      status="primary"
    >
      <nb-option
        class="theme"
        *ngFor="let theme of themes"
        [value]="theme.value"
      >
        {{ theme.name }}</nb-option
      >
    </nb-select>
  </div>
</div>

<div class="header-container">
  <nb-actions size="small">
    <!-- <nb-action class="control-item">
      <nb-search type="rotate-layout"></nb-search>
    </nb-action> -->
    <!-- <nb-action class="control-item" icon="email-outline"></nb-action> -->

    <nb-action
      class="control-item"
      icon="bell-outline"
      badgeText="{{ itemCount }}"
      badgeStatus="danger"
      (click)="fun()"
    ></nb-action>

    <div></div>
    <nb-action class="user-action" *nbIsGranted="['view', 'user']">
      <nb-user
        [nbContextMenu]="userMenu"
        [onlyPicture]="userPictureOnly"
        name="{{ userMail }}"
        nbContextMenuTag="my-menu"
        picture="https://nandmmobilehomes.com/wp-content/uploads/2016/04/user_male2-512.png"
      >
      </nb-user>
    </nb-action>
  </nb-actions>
</div>
