<nb-card size="medium">
  <nb-card-body>
    <div class="progress-info">
    <!-- <div class="progress-info" *ngFor="let item of progressInfoData"> -->
      <div class="subtitle">Today Profit</div>
      <div class="h3">{{ totalProfit | ngxNumberWithCommas }}</div>
      <nb-progress-bar [value]="totalProfit/totalItemCount"></nb-progress-bar>
      <div class="caption description">
        <bdi>Average is {{ totalProfit/totalItemCount | number}} %</bdi>
      </div>
    </div>
    <div class="progress-info">
      <div class="subtitle">Total Items</div>
      <div class="h3">{{ totalItemCount | ngxNumberWithCommas }}</div>
      <nb-progress-bar [value]="totalItemCount/totalProfit * 100"></nb-progress-bar>
      <div class="caption description">
        <bdi>Average is {{ totalItemCount/totalProfit * 100 | number}} %</bdi>
      </div>
    </div>
  </nb-card-body>
</nb-card>
