<div class="row">
  <div class="col-md-4">
    <nb-card>
      <nb-card-body>
        <input
          nbInput
          placeholder="Pick Date"
          [nbDatepicker]="formpicker"
          [formControl]="dateSelected"
        />
        <nb-datepicker #formpicker format="dd.MM.yyyy"></nb-datepicker>
        <button nbButton (click)="getAll()">Get</button>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div *ngFor="let s of bills">
      <nb-card
        style="height: auto;cursor: pointer;"
        (click)="viewBillDetails(s.id)"
      >
        <nb-card-header> Order Id :{{ s.id }} </nb-card-header>
        Total Price : {{ s.totalPrice }} <br />
        Total item count :{{ s.itemCount }} <br />
        Total discount : {{ s.discount }} <br />
        Total bill profit :{{ s.orderProfit }}
      </nb-card>
    </div>
  </div>
  <div class="col-md-8">
    <nb-card style="    position:fixed;
">
      <nb-card-header>
        <h1>Bill Details</h1>
      </nb-card-header>

      <!-- <nb-calendar
          [date]="date"
          (dateChange)="handleDateChange($event)"
        ></nb-calendar> -->
      <nb-card-body>
        <ng2-smart-table
          [settings]="settings"
          [source]="source"
          (deleteConfirm)="onDeleteConfirm($event)"
        >
        </ng2-smart-table>
      </nb-card-body>
    </nb-card>
  </div>
</div>
