<div class="row">
  <div class="col-xxl-5">
    <div class="row">
      <div class="col-md-12">
        <ngx-profit-card></ngx-profit-card>
      </div>
      <!-- <div class="col-md-6">
        <ngx-earning-card></ngx-earning-card>
      </div> -->
    </div>
    <!-- <button (click)="fun()">click me</button> -->

    <ngx-traffic-reveal-card></ngx-traffic-reveal-card>
  </div>

  <div class="col-xxl-7">
    <!-- <ngx-ecommerce-charts></ngx-ecommerce-charts> -->
    <div class="row">
      <div class="col-xxxl-12 col-md-12 cardstate">
        <ngx-status-card
          title="Total Profit today {{ todayTotalProfit | number }} LKR "
          type="danger"
        >
          <i ngClass="nb-arrow-up"></i>
        </ngx-status-card>
        <ngx-status-card
          title="Sales Value {{ salesValue | number }} LKR"
          type="warning"
        >
          <i ngClass="fas fa-dollar-sign"></i>
        </ngx-status-card>
        <ngx-status-card
          title="Total items sold today {{ todayTotalItems }} "
          type="info"
        >
          <i ngClass="nb-paper-plane"></i>
        </ngx-status-card>
        <ngx-status-card
          title="Total Stock Value {{ stockValue | number }} LKR "
          type="success"
        >
          <i ngClass="nb-roller-shades"></i>
        </ngx-status-card>

        <ngx-status-card
          title="Stock Cost Value {{ stockCostValue | number }} LKR"
          type="primary"
        >
          <i ngClass="fas fa-store"></i>
        </ngx-status-card>
      </div>
    </div>
  </div>
</div>

<!-- <div class="row"> -->
<!-- <div class="col-xxl-9">
    <ngx-country-orders></ngx-country-orders>
  </div> -->

<!-- <div class="col-xxl-3">
    <ngx-progress-section></ngx-progress-section>
  </div>
</div> -->

<!-- <div class="row">
  <div class="col-xxl-9">
    <ngx-ecommerce-visitors-analytics></ngx-ecommerce-visitors-analytics>
  </div>

  <div class="col-xxl-3">
    <ngx-user-activity></ngx-user-activity>
  </div>
</div> -->
