<!-- <button (click)="loadItems()">test</button> -->
<nb-card>
  <nb-card-header>Scan here</nb-card-header>
  <nb-card-body>
    <input
      type="text"
      nbInput
      fullWidth
      status="info"
      placeholder="Scan QR"
      id="code"
      name="code"
      (keyup.enter)="scanItem()"
    />
    <!-- <div style="padding: 2%;">
      <button type="submit" (keyup)="scanItem(code)" nbButton status="primary">
        Search
      </button>
    </div> -->

    <!-- <div class="validation-checkboxes">
        <nb-checkbox status="success">Success Checkbox</nb-checkbox>
        <nb-checkbox status="danger">Danger Checkbox</nb-checkbox>
      </div> -->
  </nb-card-body>
</nb-card>

<div class="row">
  <!-- <div class="col-md-4">
    <nb-card>
      <nb-card-header>Cart</nb-card-header>
      <nb-card-body>
        <form

          [formGroup]="addNewItemForm"
          (ngSubmit)="onSubmitItem(addNewItemForm.value)"
        >
          <div class="form-group row">
            <label for="inputEmail1" class="label col-sm-3 col-form-label"
              >Name</label
            >
            <div class="col-sm-9">
              <input
                disabled
                type="text"
                nbInput
                fullWidth
                formControlName="item_name"
                [placeholder]="productName"
                [value]="productName"
              />
              <nb-alert
                *ngIf="item_name.touched && item_name.invalid"
                status="danger"
              >
                Item name is required
              </nb-alert>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword2" class="label col-sm-3 col-form-label"
              >Quantity</label
            >
            <div class="col-sm-9">
              <input
                type="number"
                nbInput
                fullWidth
                formControlName="item_quantity"
                placeholder="Quantity"
              />
              <nb-alert
                *ngIf="item_quantity.touched && item_quantity.invalid"
                status="danger"
              >
                Item quantity is required
              </nb-alert>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword2" class="label col-sm-3 col-form-label"
              >Discount</label
            >
            <div class="col-sm-9">
              <input
                type="number"
                nbInput
                fullWidth
                formControlName="item_discount"
                placeholder="Discount"
              />
            </div>
          </div>

          <div class="form-group row">
            <div class="offset-sm-3 col-sm-9">
              <button
                [disabled]="!addNewItemForm.valid"
                type="submit"
                nbButton
                status="primary"

              >
                Add
              </button>
            </div>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
    <form
      [formGroup]="addNewCusForm"
      (ngSubmit)="onSubmitCustomer(addNewCusForm.value)"
    >
      <nb-card>
        <nb-card-header>Customer Details</nb-card-header>
        <nb-card-body>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <div>
                  <label for="inputFirstName" class="label">First Name</label>
                  <input
                    type="text"
                    nbInput
                    fullWidth
                    formControlName="first_name"
                    placeholder="First Name"
                  />
                  <nb-alert
                    *ngIf="first_name.touched && first_name.invalid"
                    status="danger"
                  >
                    First name is required
                  </nb-alert>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <div>
                  <label for="inputLastName" class="label">Last Name</label>
                  <input
                    type="text"
                    nbInput
                    fullWidth
                    formControlName="last_name"
                    placeholder="Last Name"
                  />
                  <nb-alert
                    *ngIf="last_name.touched && last_name.invalid"
                    status="danger"
                  >
                    Last name is required
                  </nb-alert>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <div>
                  <label for="inputEmail" class="label">Email</label>
                  <input
                    type="text"
                    nbInput
                    fullWidth
                    id="inputEmail"
                    formControlName="email"
                    placeholder="Email"
                  />
                  <nb-alert
                    *ngIf="email.touched && email.invalid"
                    status="danger"
                  >
                    E mail is required
                  </nb-alert>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <div>
                  <label for="inputWebsite" class="label">Phone Number</label>
                  <input
                    type="text"
                    nbInput
                    fullWidth
                    formControlName="contact_num"
                    placeholder="Phone Number"
                  />
                  <nb-alert
                    *ngIf="contact_num.touched && contact_num.invalid"
                    status="danger"
                  >
                    Contact number is required
                  </nb-alert>
                </div>
              </div>
            </div>
          </div>
          <button type="button" nbButton>Submit</button>
        </nb-card-body>
      </nb-card>
    </form>
  </div> -->

  <div class="col-md-3">
    <div style="height: 300px;overflow: scroll;">
      <form>
        <nb-card>
          <nb-card-header>Search Product</nb-card-header>
          <nb-card-body>
            <input
              nbInput
              placeholder="search product"
              fullWidth
              [(ngModel)]="searchTerm"
              name="search"
              type="text"
              autofocus
            />
            <nb-list *ngFor="let item of source | filter: searchTerm">
              <nb-list-item>
                {{ item.product_name }}
                <div style="align-self: center;">
                  <button nbButton (click)="addItem(item)">add</button>
                </div>
              </nb-list-item>
            </nb-list>
          </nb-card-body>
        </nb-card>
      </form>
    </div>
  </div>

  <div class="col-md-9">
    <nb-card>
      <nb-card-header>
        Cart
      </nb-card-header>

      <nb-card-body>
        <ng2-smart-table
          [settings]="settings"
          (deleteConfirm)="onDeleteConfirm($event)"
          [source]="myCart"
          (editConfirm)="onSaveConfirm($event)"
        >
        </ng2-smart-table>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<div style="padding-top: 2%;">
  <nb-card>
    <nb-card-header>{{ now }}</nb-card-header>
    <nb-card-body>
      <div class="row">
        <h4>
          Total price : Rs
          {{ totalPrice - discount - (totalPrice * discountP) / 100 }}
        </h4>
        <div style="padding-left: 10;">
          <nb-radio-group [(ngModel)]="userOption">
            <nb-radio value="1">Card Payment</nb-radio>
            <nb-radio value="2">Cash</nb-radio>
          </nb-radio-group>
        </div>
      </div>
      <h5>No of Items: {{ shoppingCartItemCount }}</h5>
      <div class="row">
        <div class="col-2">
          <label for=""><h5>Customer Pay</h5></label>
        </div>
        <div class="col-6">
          <input
            type="number"
            nbInput
            fullWidth
            status="info"
            placeholder="Customer Pay"
            [(ngModel)]="customerPay"
          />
        </div>

        <!-- <div class="col-6">
        <div style="padding: 2%;">
          <button
            type="submit"
            (keyup)="balance($event)"
            nbButton
            status="primary"
          >
            Search
          </button>
        </div> -->
        <!-- <input
          type="text"
          ngModel
          nbInput
          fullWidth
          status="info"
          [placeholder]="balance"
          disabled
        />
      </div>-->
      </div>
      <div class="row">
        <div class="col-2">
          <label for=""><h5>Discount</h5></label>
        </div>
        <div class="col-6">
          <input
            type="number"
            nbInput
            fullWidth
            status="info"
            placeholder="Discount"
            [(ngModel)]="discount"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-2">
          <label for=""><h5>Discount (%)</h5></label>
        </div>
        <div class="col-6">
          <input
            type="number"
            nbInput
            fullWidth
            status="info"
            placeholder="DiscountP"
            [(ngModel)]="discountP"
          />
        </div>
      </div>
      <h5
        *ngIf="
          customerPay > 0 &&
          customerPay -
            (totalPrice - discount - (totalPrice * discountP) / 100) >
            0
        "
      >
        Balance:Rs
        {{
          customerPay - (totalPrice - discount - (totalPrice * discountP) / 100)
        }}
      </h5>
      <h5
        *ngIf="
          customerPay > 0 &&
          customerPay -
            (totalPrice - discount - (totalPrice * discountP) / 100) <
            0
        "
      >
        Not sufficent amount
      </h5>
      <h5 *ngIf="customerPay === 0">Balance: 0</h5>
    </nb-card-body>
    <div class="col-lg-12">
      <div class="buttons-row" style="padding: 2%;">
        <button
          [disabled]="
            customerPay <= 0 || myCart.length<=0  ||
            (customerPay > 0 &&
              customerPay -
                (totalPrice - discount - (totalPrice * discountP) / 100) <
                0)
          "
          class="button"
          nbButton
          status="primary"
          hero
          printSectionId="print-section"
          ngxPrint
          (click)="checkout()"
          printTitle="Warm Boutique"
        >
          Checkout
        </button>
        &nbsp;
        <button class="button" nbButton status="danger" hero>
          Clear
        </button>
      </div>
    </div>
  </nb-card>
</div>

<div id="print-section" hidden style="width: 2in;">
  <nb-card>
    <nb-card-body>
      <div style=" text-align: center;width: 2in; ">
        Warm Boutique
        <br />
        No:18 Pedlar St, <br />
        Galle 80000 <br />
        Sri Lanka <br />
        Tel - 077 465 4287 <br />
        ------------------------------- <br />
        {{ today | date: "yyyy-MM-dd" }} &nbsp; {{ today | date: "shortTime" }}
        <br />
        ------------------------------- <br />
      </div>
      <div *ngFor="let item of myCart; let i = index">
        {{ item["product_name"] }} <br />
        {{ item["quantity"] }} x
        {{ item["product_price"] }} &nbsp;&nbsp;&nbsp;&nbsp; Rs
        {{ item["quantity"] * item["product_price"] }} <br />
      </div>
      ------------------------------- <br />
      Item count:&nbsp;&nbsp;&nbsp;&nbsp; {{ shoppingCartItemCount }} <br />
      Sub Total:&nbsp;&nbsp;&nbsp;&nbsp; Rs
      {{ totalPrice - discount - (totalPrice * discountP) / 100 }} <br />
      Cash:&nbsp;&nbsp;&nbsp;&nbsp; Rs {{ customerPay }} <br />
      Change:&nbsp;&nbsp;&nbsp;&nbsp; Rs {{ customerPay - totalPrice }} <br />
      <div *ngIf="discount != 0">
        Discount:&nbsp;&nbsp;&nbsp;&nbsp; Rs {{ discount }} <br />
      </div>
      <div *ngIf="discountP != 0">
        Discount:&nbsp;&nbsp;&nbsp;&nbsp; {{ discountP }} % <br />
      </div>

      <div style=" text-align: center;width: 2in; ">
        Thank You <br />
        Come Again!

        <br />
        ================== <br />
        Solution by mazzSolutions (c) <br />
        076 546 5181
      </div>
    </nb-card-body>
  </nb-card>
</div>
