<nb-list>
  <nb-list-item class="item" *ngFor="let item of frontCardData;">
    <span>{{ item.day }}</span>
    <span>{{ item.itemCount }}</span>
    <span class="delta" [class.up]="item.profit" [class.down]="!item.profit">
      <!-- <nb-icon [icon]="item.profit ? 'arrow-up' : 'arrow-down'" pack="eva"></nb-icon> -->
      {{ item.profit | number}} LKR
    </span>
    <!-- <ngx-traffic-bar [barData]="item.comparison" [successDelta]="item.delta.up"> -->
    <!-- </ngx-traffic-bar> -->
  </nb-list-item>
</nb-list>
